.git
.github
.vscode
.idea

node_modules
**/node_modules
dist
**/dist
.next
**/.next
coverage
**/coverage
generated
**/generated

.env
.env.*
**/.env
**/.env.*
!**/.env.example

**/*.log
**/*.spec.ts
**/test

.DS_Store
Thumbs.db
